@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --content-primary: #FFFFFF;
    --content-secondary: #98959D;
    --content-tertiary: #666666;
    --content-brand: #9282FA;

    --bg-primary: #151515;
    --bg-secondary: #1E1E1E;
    --bg-tertiary: #23242C;
    --bg-brand: #9282FA;
    --bg-highlights: #BDB4FA;

    --border-primary: #3E3C41;
    --border-secondary: #86818C;
    --border-brand: #9282FA;
    --border-divisor: #353339;

    --font-tight: "Inter Tight", sans-serif;
    --text-lg: bold 1.5rem/2rem var(--font-tight);

    --font-inter: "Inter", sans-serif;
    --text-md: 500 .875rem/1.5rem var(--font-inter);
    --text-sm: 500 .75rem/1rem var(--font-inter);
    --label-lg: bold 1rem/1.5rem var(--font-inter);
    --label-md: bold .875rem/1.5rem var(--font-inter);
    --label-sm: bold .75rem/1rem var(--font-inter);
    --link: 500 .75rem/1rem var(--font-inter);

    --display: grid;

    --img-input: url(../assets/icons/Calendar-Minimalistic--Streamline-Solar.svg);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #14151D;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    background-color: #2E2C30;
    padding-block: .75rem;
    padding-inline: .75rem 1.5rem;
    border-end-end-radius: .8rem;
}

.container {
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
    /* display: none; */
}

& .input {
    position: relative;
    width: 100%;
    height: 3rem;
    padding-left: 2.5rem;
    padding-right: 1rem;
    color: var(--content-secondary);

    border-radius: .6rem;
    background-color: transparent;
    border: 2px solid var(--border-primary);

    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }

    &::after {
        content: '';
        position: absolute;
        background: var(--img-input) no-repeat center/contain;
        left: 1rem;
        top: .9rem;
        width: 1rem;
        height: 1rem;
    }

    &::before {
        content: "";
        position: absolute;
        background: url(../assets/icons/Icon.svg) no-repeat center/contain;
        right: 1rem;
        width: 1rem;
        height: 1rem;
    }
}

ul[role=list] {
    list-style: none;
}

@media (width >=80rem) {
    :root {
        --display: flex;
    }
}