main {
    display: grid;
    position: relative;
    padding-block: 4.375rem 9rem;
    padding-inline: 1.25rem;

    & div.display {
        & div:nth-child(1) {
            & h1 {
                font: var(--text-lg);
                color: #F5F4F5;
            }

            & p {
                color: #98959D;
                font: var(--text-md);
            }
        }

        & div:nth-child(2) {
            width: max-content;
            height: max-content;

            & input {
                position: relative;
                width: 11.5rem;
                height: 3rem;
                padding-left: 2.5rem;
                padding-right: 1rem;
                color: var(--content-secondary);

                border-radius: .6rem;
                background-color: transparent;
                border: 2px solid var(--border-primary);

                &::-webkit-calendar-picker-indicator {
                    opacity: 0;
                }

                &::after {
                    content: '';
                    position: absolute;
                    background: url(../assets/icons/Calendar-Minimalistic--Streamline-Solar.svg) no-repeat center/contain;
                    left: 1rem;
                    top: .9rem;
                    width: 1rem;
                    height: 1rem;
                }

                &::before {
                    content: "";
                    position: absolute;
                    background: url(../assets/icons/Icon.svg) no-repeat center/contain;
                    right: 1rem;
                    width: 1rem;
                    height: 1rem;
                    ;
                }
            }
        }
    }

    & section {
        background-color: var(--bg-tertiary);
        padding-inline: 1.25rem;
        border-radius: .6rem;

        & .period {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font: var(--label-lg);
            border-bottom: 1px solid var(--border-divisor);
            padding-block: .75rem;

            & span:nth-child(1) {
                color: var(--content-primary);
                display: flex;
                align-items: center;
                text-align: center;
                gap: .75rem;
            }

            & span:nth-child(2) {
                color: var(--content-secondary);
            }
        }

        & ul {
            padding-block: 1.5rem;

            & li {
                font: var(--text-sm);
                display: grid;

                & div {
                    display: flex;
                    align-items: center;
                    gap: .75rem;

                    &>strong {
                        font: var(--label-md);
                        color: var(--content-primary);
                    }

                    & p {
                        & strong {
                            font: var(--label-sm);
                            color: var(--content-primary);
                        }

                        & span {
                            font: var(--text-sm);
                            color: var(--content-secondary);
                        }
                    }
                }

                & span {
                    font: var(--text-sm);
                    color: var(--content-secondary);
                }

                & button {
                    all: unset;
                    color: var(--content-tertiary);
                    width: max-content;
                    margin-left: auto;
                    margin-top: .5rem;
                }
            }

            & li:not(:first-child) {
                padding-block: 1rem 1rem;
            }

            & li:not(:last-child) {
                border-bottom: 1px solid var(--border-divisor);
                padding-bottom: 1rem;
            }
        }
    }

    & section+section {
        margin-top: .75rem;
    }

    & section#morning {
        margin-top: 2rem;
    }

    & div.new-schedule {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #23242C;
        padding-block: 1.125rem;

        & button {
            all: unset;
            display: block;
            margin: 0 auto;

            text-transform: uppercase;
            font: var(--label-lg);

            color: #050505;
            background-color: var(--content-brand);

            padding: .75rem 1.5rem;
            border-radius: .6rem;
        }
    }
}

@media (width >=80rem) {
    main {
        width: 44.375rem;
        margin: 0 auto;

        & div div:nth-child(1) {
            width: 32.875rem;
        }

        & section {
            & ul {
                & li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    & button {
                        margin: 0;
                    }
                }
            }
        }

        & div.new-schedule {
            all: unset;
            position: absolute;
            right: -16rem;
            bottom: 4rem;
        }
    }
}